# Advance Pandas dataframes

In [9]:
import numpy as np
import pandas as pd

In [10]:
from numpy.random import randn

In [11]:
# Index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [13]:
inside

[1, 2, 3, 1, 2, 3]

In [14]:
 list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
df = pd.DataFrame(randn(6,2), hier_index,['A', 'B'])

In [16]:
df

             A         B
G1 1 -0.506387 -0.891410
   2  1.482667  0.349367
   3 -0.933896 -0.709348
G2 1  1.333900 -1.705168
   2 -0.296209 -0.313925
   3 -0.214784  1.765326

In [17]:
df.loc['G1']

          A         B
1 -0.506387 -0.891410
2  1.482667  0.349367
3 -0.933896 -0.709348

In [18]:
df.loc['G1'].loc[1]

A   -0.506387
B   -0.891410
Name: 1, dtype: float64

In [19]:
df

             A         B
G1 1 -0.506387 -0.891410
   2  1.482667  0.349367
   3 -0.933896 -0.709348
G2 1  1.333900 -1.705168
   2 -0.296209 -0.313925
   3 -0.214784  1.765326

In [20]:
df.index.names

FrozenList([None, None])

In [21]:
df.index.names = ['Groups', 'Num']

In [22]:
df

                   A         B
Groups Num
G1     1   -0.506387 -0.891410
       2    1.482667  0.349367
       3   -0.933896 -0.709348
G2     1    1.333900 -1.705168
       2   -0.296209 -0.313925
       3   -0.214784  1.765326

In [23]:
df.loc['G2']

            A         B
Num
1    1.333900 -1.705168
2   -0.296209 -0.313925
3   -0.214784  1.765326

In [24]:
df.loc['G2'].loc[2]['B']

-0.3139248785999541

In [25]:
df.loc['G2'].loc[3]['A']

-0.21478354509096992

In [26]:
# Cross section
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1   -0.506387 -0.891410
       2    1.482667  0.349367
       3   -0.933896 -0.709348
G2     1    1.333900 -1.705168
       2   -0.296209 -0.313925
       3   -0.214784  1.765326>

In [27]:
df.xs('G1')

            A         B
Num
1   -0.506387 -0.891410
2    1.482667  0.349367
3   -0.933896 -0.709348

In [28]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.506387 -0.891410
G2      1.333900 -1.705168